* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

nav {
    background-color: #171717;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

nav button {
    background-color: black;
    border: 2px solid white;
    padding: 10px;
    color: white;
    height: 48px;
    cursor: pointer;
}


nav a {
    margin-left: 8px;
    margin-right: 8px;
    text-decoration: none;
    color: white;
}

.main {
    padding: 24px;
}

a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
    font-size: 18px;
}

.posts {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px;
    padding-left: 80px;
    padding-right: 80px;
}


.post-item {
    height: 160px;
    background-color: #171717;
    border-radius: 24px;
    display: flex;
    gap: 10px;
}
