* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

nav {
    background-color: #171717;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

nav button {
    background-color: black;
    border: 2px solid white;
    padding: 10px;
    color: white;
    height: 48px;
    cursor: pointer;
}


nav a {
    margin-left: 8px;
    margin-right: 8px;
    text-decoration: none;
    color: white;
}

.main {
    padding: 24px;
}

a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
    font-size: 18px;
}

.posts {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px;
    padding-left: 80px;
    padding-right: 80px;
}


.post-item {
    height: 160px;
    background-color: #171717;
    border-radius: 24px;
    display: flex;
    gap: 10px;
    color: white;
}


.post-item .img-container {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.post-content {
    background-color: #171717;
    border-radius: 24px;
    color: white;
    padding: 40px;
    margin-top: 20px;
}


.auth {
    display: flex;
    justify-content: center;  
    margin-top: 40px;
}

.auth form {
    width: 400px;
    background-color: #171717;
    padding: 40px 20px;
    border: 1px solid white;
    border-radius: 25px;
}

.auth h2 {
    text-align: center;
    color: white;
}

.auth input {
    height: 48px;
    width: 100%;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.auth button {
    height: 48px;
    width: 100%;
    display: block;
}